* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: rgb(32, 32, 33);
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    user-select: none;
}

.title{
    user-select: none;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-transform: capitalize;
    padding: 50px 8%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.gallery img{
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 2px #ffffff2e;
    transition: 0.5s;
}
.gallery img:hover{
    transform: translateY(-10px);
}